extends ../master.pug

block variables 
  - wrapperClassName = 'wrapper-color'

block main
  - var noResult = queryExist && Object.keys(results).length === 0;
  main
    section.search-page
      .search-page__wrapper(class=(noResult ? 'search-page__wrapper--empty' : ''))
        h1
          if !queryExist
            | Поиск
          else if noResult
            | Попробуйте еще раз
          else
            | Результат поиска
        .search.search-page__form
          form(action='/search' method='get')
            label
              input(type='text' name='query' placeholder='Что ищем?')
            button.search__button.button.button--transparent(type='submit') Найти
          if queryExist
            if Object.keys(results).length > 0
                each result in results
                  .search__result
                    time.search__date(datetime=result.createdAt)
                      +formatDate(result.createdAt, `DD.MM.YYYY, HH:MM`)
                    a.search__link(href=`/articles/${result.id}`) #{result.title}
                else
                  p.search-page__empty Ничего не нашлось