extends ../master.pug

block variables 
  - wrapperClassName = 'wrapper wrapper--nobackground'

block header
  header.header
    a.header__logo.logo(href='#')
      img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
      span.logo__name Типотека
    button.button.button--colored.header__button-new Новая запись
    .header__dropdown
      a.button.button--burger.header__burger(href='#') Открыть меню
      ul.navigation.header__navigation
        li.navigation__item
          a(href='main.html') Пункт меню
        li.navigation__item
          a(href='main.html') Пункт меню
        li.navigation__item
          a(href='main.html') Пункт меню
        li.navigation__item
          a(href='main.html') Пункт меню
    a.header__search.button.button--search(href='#' aria-label='поиск по сайту')

block main
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each article, articleIndex in articles
          if article.comments.length
            each comment, commentIndex in article.comments
              li(class='publication__list-item' class=((articleIndex === articles.length - 1 && commentIndex === article.comments.length - 1) ? "publication__list-item--last" : ''))
                .publication__header
                  img.publication__list-image(src='img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
                  b.publication__list-name Александр Петров
                  time.publication__item-time(datetime='2019-03-21T20:33') #{article.createdDate}
                a.publication__item-text(href='#') #{comment.text}
                p.publication__text-strong #{article.title}
                button.publication__button.button.button--close-item(type='button')
                  span.visually-hidden Закрыть строку списка
