main.main-page
  h1.visually-hidden Главная страница личного блога Типотека
  p.main-page__greeting.title.title--big К сожалению пока нет никаких публикаций :(
  .main-page__empty-wrapper
    p.main-page__empty-text Здесь пока пусто!